html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #E3EFE3;
    color: #293229;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Стили для логотипа */
header .logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding-right: 1em;
    cursor: pointer;
    /* Указатель курсора */
    transition: transform 0.3s ease, filter 0.3s ease;
    /* Плавный переход для трансформации и фильтра */
}

header .logo img {
    width: 50px;
    height: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;
    /* Плавный переход для трансформации и фильтра */
}

header .logo:hover img {
    transform: scale(1.1);
    /* Увеличение при наведении */
    filter: brightness(1.2);
    /* Увеличение яркости при наведении */
}

header .logo:active img {
    transform: scale(0.9);
    /* Уменьшение при нажатии */
    filter: brightness(0.8);
    /* Уменьшение яркости при нажатии */
}


header .nav {
    flex-grow: 1;
    /* Навигация растягивается */
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #293229;
    font-weight: 700;
    font-size: 20px;
    transition: color 0.3s ease;
    /* Плавный переход */
}

header nav ul li a:hover {
    color: #F6FFF7;
    /* Цвет при наведении */
}

/* Стили для горизонтальной линии после header */
.header-line {
    border: 0;
    border-top: 1px solid #475447;
    margin: 20px 0;
}

/* Стили для кнопок навигации при нажатии */
header nav ul li a.active {
    background-color: #475447;
    border-radius: 10px;
    color: #F6FFF7;
    padding: 5px 20px;
}

main {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin-top: auto;
    /* Добавлено */
    margin-bottom: auto;
    /* Добавлено */
}



.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #F6FFF7;
    background-color: #475447;
    /* Основной цвет кнопки */
    border: none;
    border-radius: 25px;
    /* Более округлые края */
    box-shadow: 0 2px #293229;
    /* Легкая тень */
    transition: all 0.3s ease;
    /* Плавный переход для всех свойств */
    width: 50%;
    position: relative;
    overflow: hidden;
}

.button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.15);
    transition: all 0.3s ease;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.button:hover {
    background-color: #315a31;
    /* Цвет при наведении */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    /* Более выраженная тень */
}

.button:active {
    background-color: #A2B1A3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
    /* Легкое смещение вниз при нажатии */
}

.delete-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #F6FFF7;
    background-color: #d9534f;
    /* Красный цвет для кнопки удаления */
    border: none;
    border-radius: 8px;
    /* Изменено скругление */
    transition: all 0.3s ease;
    margin-top: 10px;
    /* Отступ сверху */
}

.delete-button:hover {
    background-color: #c9302c;
}

/* Стили для переключателя вида */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    position: relative;
}

.controls .button {
    margin: 0 auto;
}

.switch {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #475447;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Стили для контейнера в режиме grid */
#card-container.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Стили для карточек диет */
.card {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 16px;
    /* Изменено скругление */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    margin-top: 0;
    font-size: 24px;
}

.card .details-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #F6FFF7;
    background-color: #475447;
    border: none;
    border-radius: 8px;
    /* Изменено скругление */
    transition: all 0.3s ease;
}

.card .details-button:hover {
    background-color: #315a31;
}

.card-image {
    width: 80%;
    aspect-ratio: 21 / 9;
    /* Соотношение сторон 1:1 */
    object-fit: cover;
    /* Масштабирование изображения */
    border-radius: 16px;
    /* Скругление углов, если необходимо */
    margin-bottom: 20px;
    /* Отступ снизу */
    margin: 0 auto 20px;
    /* Центрирование карточек и отступ снизу */
}

#card-container.grid img {
    aspect-ratio: 1 / 1;
    /* Соотношение сторон 1:1 */
    width: 100%;
    margin: 0 auto;
}

/* Стили для кнопок в карточках диет */
.card .details-button,
.card .delete-button,
.card .edit-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #F6FFF7;
    border: none;
    border-radius: 8px;
    /* Изменено скругление */
    transition: all 0.3s ease;
    margin: 10px 5px;
    /* Отступы между кнопками */
}

.card .edit-button {
    color: #293229;
}

.card .details-button:hover {
    background-color: #315a31;
}

.card .edit-button:hover {
    background-color: #638084;
    color: #F6FFF7;
    border-style: none;
}

.card .details-button:active,
.card .delete-button:active,
.card .edit-button:active {
    background-color: #a2b1a3;
    transform: translateY(2px);
}

/* Стили для иконок кнопок */
.button-icon {
    width: 24px;
    height: 24px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(106%) contrast(101%);
}

/* В режиме grid показываем иконки и скрываем текст */
#card-container.grid .details-button img,
#card-container.grid .delete-button img,
#card-container.grid .edit-button img {
    display: inline-block;
}

#card-container.grid .edit-button img {
    display: inline-block;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(106%) contrast(101%);
}

#card-container.grid .edit-button img:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(106%) contrast(101%);
}

#card-container.grid .details-button,
#card-container.grid .delete-button,
#card-container.grid .edit-button {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 10px;
    /* Отступы между кнопками */
}

#card-container.grid .details-button::after,
#card-container.grid .delete-button::after,
#card-container.grid .edit-button::after {
    content: none;
    /* Убираем текст в режиме grid */
}

.day {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.day h2 {
    margin-top: 0;
    font-size: 32px;
}

.day ul {
    list-style-type: disc;
    /* Маркированный список */
    padding-left: 20px;
    /* Отступ слева для списка */
}

.day li {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
}


.item {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
}

footer {
    background-color: #475447;
    color: #A2B1A3;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    /* Растягиваем футер на всю ширину */
    box-sizing: border-box;
    /* Учитываем padding в ширине */
    position: relative;
    bottom: 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    height: 40px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(106%) contrast(101%);
    padding-right: 1em;
    width: 50px;
    height: 30px;
}

.footer-logo span {
    font-size: 20px;
    font-weight: 700;
    color: #F6FFF7;
}

.footer-links {
    display: flex;
    gap: 20px;
    width: 60%;
    justify-content: space-around;
}

.footer-links a {
    text-decoration: none;
    color: #A2B1A3;
    font-size: 12px;
}

.footer-links a:hover {
    color: #fff;
}

hr {
    border: 0;
    border-top: 1px solid #A2B1A3;
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.footer-social {
    display: flex;
    width: 60%;
    justify-content: space-around;
    gap: 20px;
}

.footer-social a {
    text-decoration: none;
    color: #A2B1A3;

}

.footer-social a:hover {
    color: #fff;
}

.footer-social a img {
    width: 18px;
    height: 18px;
    filter: invert(62%) sepia(6%) saturate(0%) hue-rotate(93deg) brightness(92%) contrast(85%);
    transition: filter 0.3s ease;
}

.footer-social a img:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(106%) contrast(101%);
}

/* ---------------------------------------------------- */
/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для модального окна редактирования */
#edit-modal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Уменьшение ширины для лучшего восприятия */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#edit-modal .modal-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#edit-modal .modal-content input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

#edit-modal .modal-content button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #F6FFF7;
    background-color: #475447;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}

#edit-modal .modal-content button:hover {
    background-color: #315a31;
}

#edit-modal .modal-content button:active {
    background-color: #A2B1A3;
    transform: translateY(2px);
}

/* Стили для контейнеров регистрации и авторизации */
.auth-container {
    background-color: #F6FFF7;
    border-radius: 24px;
    box-shadow: 44px 35px 40px 11px rgba(175, 216, 176, 0.4);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    box-sizing: border-box;
}

/* Стили для заголовков в контейнерах */
.auth-container h2 {
    margin-top: 0;
    font-size: 24px;
    color: #293229;
}

/* Стили для форм в контейнерах */
.auth-container .form-group {
    margin-bottom: 15px;
}

.auth-container .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #293229;
}

/* Стили для элементов с классом form-control */
.auth-container .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #475447;
    /* Основной цвет темы */
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.auth-container .form-group input:focus {
    border-color: #315a31;
    /* Цвет при фокусе */
    outline: none;
}


.auth-container .btn {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #F6FFF7;
    background-color: #475447;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-container .btn:hover {
    background-color: #315a31;
}

.auth-container .btn:active {
    background-color: #A2B1A3;
    transform: translateY(2px);
}

.auth-container .mt-3 {
    margin-top: 15px;
}

/* Стили для формы ввода информации */
.info-form {
    background-color: #F6FFF7;
    border-radius: 24px;
    box-shadow: 44px 35px 40px 11px rgba(175, 216, 176, 0.4);
    padding: 20px;
    margin: 20px auto;
    height: 30vh;
    /* Высота 30% от высоты окна */
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-form .form-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.info-form .form-group {
    flex-grow: 1;
    margin-bottom: 15px;
}

.info-form .form-group textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    /* Убираем бордер */
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #F6FFF7;
    /* Цвет фона, чтобы сливался с контейнером */
    color: #293229;
    /* Основной цвет текста */
    outline: none;
    /* Убираем синюю рамку при фокусе */
    resize: none;
    /* Убираем возможность изменения размера */
    overflow-y: auto;
    /* Добавляем прокрутку по вертикали */
}

.info-form .form-group textarea::placeholder {
    color: rgba(41, 50, 41, 0.5);
    /* Ненавязчивый цвет для заполняющего текста */
}

/* Стили для контейнера результата */
#result-container {
    text-align: left;
    padding: 20px;
}

.result-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #475447;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.result-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    /* Обычное начертание */
}

.result-block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.result-logo {
    width: 50px;
    height: 30px;
    margin-right: 10px;
}

.result-text {
    font-size: 24px;
    font-weight: normal;
    /* Обычное начертание */
}

/* Добавьте стили для нового элемента загрузки */
.loading-image {
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

/* Добавьте стили для плавного исчезновения */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    /* Плавный переход в течение 0.5 секунд */
}


/* Стили для кнопки с иконкой */
.btn-icon {
    background: none;
    /* Убираем фон кнопки */
    border: none;
    /* Убираем границу кнопки */
    padding: 0;
    /* Убираем отступы */
    cursor: pointer;
    /* Указатель курсора */
    display: inline-flex;
    /* Выровняем содержимое по центру */
    align-items: center;
    /* Выровняем содержимое по центру */
    justify-content: center;
    /* Выровняем содержимое по центру */
    width: 40px;
    /* Устанавливаем ширину */
    height: 40px;
    /* Устанавливаем высоту */
    position: absolute;
    /* Абсолютное позиционирование */
    bottom: 20px;
    /* Отступ снизу */
    right: 20px;
    /* Отступ справа */
    transition: transform 0.3s ease, filter 0.3s ease;
    /* Плавный переход для трансформации и фильтра */
    z-index: 1000;
    /* Устанавливаем высокий z-index, чтобы кнопка была поверх других элементов */
}

.arrow-icon {
    width: 100%;
    /* Иконка занимает всю кнопку */
    height: 100%;
    /* Иконка занимает всю кнопку */
    transition: transform 0.3s ease, filter 0.3s ease;
    /* Плавный переход для трансформации и фильтра */
}

.btn-icon:hover .arrow-icon {
    transform: scale(1.1);
    /* Увеличение при наведении */
    filter: brightness(1.2);
    /* Увеличение яркости при наведении */
}

.btn-icon:active .arrow-icon {
    transform: scale(0.9);
    /* Уменьшение при нажатии */
    filter: brightness(0.8);
    /* Уменьшение яркости при нажатии */
}

/* Обновление стилей для info-form */
.info-form {
    position: relative;
    /* Добавляем относительное позиционирование */
    background-color: #F6FFF7;
    border-radius: 24px;
    box-shadow: 44px 35px 40px 11px rgba(175, 216, 176, 0.4);
    padding: 20px;
    margin: 20px auto;
    height: 30vh;
    /* Высота 30% от высоты окна */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.focus-button {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: rgba(41, 50, 41, 0.3);
    color: #F6FFF7;
    border: none;
    border-radius: 36px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.focus-button:hover {
    background-color: rgba(41, 50, 41, 0.5);
}

.focus-button-logo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(106%) contrast(101%);
    width: 24px;
    height: 24px;
    margin-right: 8px;
}


/* Изменить позиционирование меню, чтобы оно появлялось ниже кнопки "ФОКУС" */
.popup-menu {
    display: none;
    position: absolute;
    left: 20px;
    top: 90%;
    left: 5%;
    /* Увеличить значение bottom, чтобы меню появлялось ниже кнопки */
    background-color: #475447;
    color: #F6FFF7;
    padding: 16px;
    width: 200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 700px;
    border-radius: 8px;
    border: 1px solid #F6FFF7;
    animation: slide-up 0.3s ease-out forwards;

}

@keyframes slide-up {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

.popup-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.popup-menu li {
    padding: 8px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.menu-item {
    /* background-color: #F6FFF7; */
    text-align: left;
    font-weight: bold;
    color: #F6FFF7;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.diet-description {
    font-size: 14px;
    font-weight: normal;
    color: rgba(227, 239, 227, 0.8);
    /* Немного прозрачный цвет */
    margin-top: 10px;
}

.menu-item:hover {
    transform: scale(1.05);
    background-color: #E3EFE3;
    color: #293229;
}

.menu-item:hover .diet-description {

    color: #293229;
}